<div class="container-for-gallery">

    <div class="center-container">
        <input type="checkbox" id="pic-1" />
        <label for="pic-1" class="lightbox">
            <img src="../../assets/11.jpg" />
        </label>
        <input type="checkbox" id="pic-2" />
        <label for="pic-2" class="lightbox">
            <img src="../../assets/11.jpg" />
        </label>
        <input type="checkbox" id="pic-3" />
        <label for="pic-3" class="lightbox">
            <img src="../../assets/11.jpg" />
        </label>
        <input type="checkbox" id="pic-4" />
        <label for="pic-4" class="lightbox">
            <img src="../../assets/11.jpg" />
        </label>
        <input type="checkbox" id="pic-5" />
        <label for="pic-5" class="lightbox">
            <img src="../../assets/11.jpg" />
        </label>
        <input type="checkbox" id="pic-6" />
        <label for="pic-6" class="lightbox">
            <img src="../../assets/11.jpg" />
        </label>
        <input type="checkbox" id="pic-7" />
        <label for="pic-7" class="lightbox">
            <img src="../../assets/11.jpg" />
        </label>
        <input type="checkbox" id="pic-8" />
        <label for="pic-8" class="lightbox">
            <img src="../../assets/11.jpg" />
        </label>


        <div class="grid">

            <label for="pic-1" class="grid-item">
                <img src="../../assets/11.jpg" />
            </label>
            <label for="pic-2" class="grid-item">
                <img src="../../assets/11.jpg" />
            </label>
            <label for="pic-3" class="grid-item">
                <img src="../../assets/11.jpg" />
            </label>
            <label for="pic-4" class="grid-item">
                <img src="../../assets/11.jpg" />
            </label>
            <label for="pic-5" class="grid-item">
                <img src="../../assets/11.jpg" />
            </label>
            <label for="pic-6" class="grid-item">
                <img src="../../assets/11.jpg" />
            </label>
            <label for="pic-7" class="grid-item">
                <img src="../../assets/11.jpg" />
            </label>
            <label for="pic-8" class="grid-item">
                <img src="../../assets/11.jpg" />
            </label>
            <!-- <div class="left-container">
                <div class="arrow-position-left">
                </div>
            </div>
            <div class="right-container">
                <div class="arrow-position-right">
                </div>
            </div> -->
        </div>
    </div>

</div>