.container-for-gallery {
    border-radius: 5px;
    top: 10%;
    position: fixed;
    margin-left: 17%;
    background-color: rgba(38, 38, 38, 0.2);
    width: 66%;
    height: 80%;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
}


.right-container {
    top: 50%;
    transform: translateY(-49%);
    position: absolute;
    right: 0%;
    width: 3%;
    height: 3%;
}

.arrow-position-right {
    width: 100%;
    height: 100%;
    margin: 20%;
    background-image: url("../../assets/right.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.arrow-position-right:hover {
    width: 100%;
    height: 100%;
    margin: 20%;
    background-image: url("../../assets/right-red.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.4s; 
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
    cursor: pointer;
}

.left-container {
    top: 50%;
    transform: translateY(-49%);
    position: absolute;
    width: 3%;
    height: 3%;
}

.arrow-position-left {
    width: 100%;
    height: 100%;
    margin: 20%;
    background-image: url("../../assets/left.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.arrow-position-left:hover {
    width: 100%;
    height: 100%;
    margin: 20%;
    background-image: url("../../assets/left-red.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 1;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.4s; 
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
    cursor: pointer;
}

.center-container {
    top: 5%;
    position: fixed;
    width: 66%;
    height: 100%;
}


    
label[for] {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.lightbox, .grid {
    top: 0;
    left: 0;
}

.lightbox {
    width: 100%;
    position: absolute;
    z-index: 1;
    min-height: 100%;
    overflow: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: transform 0.8s ease-out;
}



.lightbox .sss {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 96%;
    max-height: 96%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}

input[type="checkbox"]:checked + .lightbox {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid {
    opacity: .125;
}

.grid {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    z-index: 0;
    height: auto;
    padding: 16px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
}
.grid .grid-item {
    display: inline-block;
    width: 25%;
    height: 50%;
    padding: 1%;
    padding-top: 3%;
    opacity: .95;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
}
.grid .grid-item:hover {
    opacity: 1;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
}

.grid .ttt {
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.grid .ttt:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.container-for-sort {
    position: fixed;
    left: 96%;
    width: 13%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.2);
    transition: 1s;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
}

.container-for-sort:hover {
    position: fixed;
    left: 87%;
    width:13%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.2);
    transition: 1s;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
} 

.image {
    float:left;
    margin-left: 7%;
    margin-right: 5%;
    width: 17%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 60%;
}

.text {
    text-align: center;
    float:left;
    font-family: Poiret One;
    color: white;
    font-size: 1.2vw;
    margin-left: 5%;
    margin-right: 5%;
    width: 60%;
}

.image-all {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/all-white.png");
}

.all:hover .image-all {
    background-image: url("../../assets/all-red.png");
}

.image-all-click {
    background-image: url("../../assets/all-red.png");
}

.all {
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    width: 100%;
    height: 10%;
}

.all:hover {
    cursor: pointer;
}

.all:hover .text-all {
    color: #8D1A1A;
}

.image-wedding {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/wed-white.png");
}

.wedding:hover .image-wedding {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/wed-red.png");
}

.image-wedding-click {
    background-image: url("../../assets/wed-red.png");
}

.wedding {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    width: 100%;
    height: 10%;
}

.wedding:hover {
    cursor: pointer;
}

.wedding:hover .text-wedding {
    color: #8D1A1A;
}

.image-day {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/girl-white.png");
}

.day:hover .image-day {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/girl-red.png");
}

.image-day-click {
    background-image: url("../../assets/girl-red.png");
}

.day {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    width: 100%;
    height: 10%;
}

.day:hover {
    cursor: pointer;
}

.day:hover .text-day {
    color: #8D1A1A;
}

.image-hollywood {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/lips-white.png");
}

.hollywood:hover .image-hollywood {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/lips-red.png");
}

.image-hollywood-click {
    background-image: url("../../assets/lips-red.png");
}


.hollywood {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    width: 100%;
    height: 10%;
}

.hollywood:hover {
    cursor: pointer;
}

.hollywood:hover .text-hollywood {
    color: #8D1A1A;
}

.image-smoky {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/smoky-white.png");
}

.smoky:hover .image-smoky {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/smoky-red.png");
}

.image-smoky-click {
    background-image: url("../../assets/smoky-red.png");
}

.smoky {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    width: 100%;
    height: 10%;
}

.smoky:hover {
    cursor: pointer;
}

.smoky:hover .text-smoky {
    color: #8D1A1A;
}

.image-lifting {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/bab-white.png");
}

.lifting:hover .image-lifting {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/bab-red.png");
}

.image-lifting-click {
    background-image: url("../../assets/bab-red.png");
}

.lifting {
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    width: 100%;
    height: 10%;
}

.lifting:hover {
    cursor: pointer;
}

.lifting:hover .text-lifting {
    color: #8D1A1A;
}

.image-fashion {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/fachion-white.png");
}
.fashion:hover .image-fashion {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/fachion-red.png");
}

.image-fashion-click {
    background-image: url("../../assets/fachion-red.png");
}

.fashion {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 10%;
}

.fashion:hover {
    cursor: pointer;
}

.fashion:hover .text-fashion {
    color: #8D1A1A;
}

.heart {
    position: absolute;
    top: 95%;
    left: 60%;
    transform: translateY(-95%);
}

.lds-heart {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
    left: 50%;
    width: 48;
    height: 48;
    transform: rotate(45deg);
    transform-origin: 16px 16px;
}
.lds-heart div {
    top: 23px;
    left: 19px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.672);
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
}
.lds-heart div:before {
    left: -12px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -12px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

hr {
    border-color: red;
}