<div class="container-for-gallery">
    <div *ngFor="let image of images;let i = index">
        <input type="checkbox" id="{{i}}" />
        <label for="{{i}}" class="lightbox">
            <div class="sss">
                <cl-image class="mini-photo" width="1000" height="1000" crop="fill" gravity="auto" [public-id]="image.imageId" [cloud-name]="uploader.cloudName"></cl-image>
            </div>
        </label>
    </div>

    <div class="title-container">
        <div class="grid">
            <div *ngFor="let image of images;let i = index" class="grid-item">
                <label for="{{i}}">
                    <div class="ttt">
                        <cl-image class="mini-photo" width="250" height="250" crop="fill" gravity="auto" [public-id]="image.imageId" [cloud-name]="uploader.cloudName"></cl-image>
                    </div>
                </label>
            </div>
        </div>


        <div class="left-container">
            <div class="arrow-position-left">
            </div>
        </div>


        <div class="right-container">
            <div class="arrow-position-right">
            </div>
        </div>
    </div>
</div>

<div class="container-for-sort">
    <a (click)='getAll()'>
        <div class="all">
            <div class="image ">
                <div class="image-all"></div>
            </div>
            <div class="text">
                Все работы
                <hr>
            </div>

        </div>
    </a>
    <a (click)='getByType("1")'>
        <div class="wedding">
            <div class=" image">
                <div class="image-wedding"></div>
            </div>
            <div class="text">
                Свадебный макияж
            </div>
        </div>
    </a>
    <a (click)='getByType("2")'>
        <div class="day">
            <div class=" image">
                <div class="image-day"></div>
            </div>
            <div class="text">
                Дневной макияж
            </div>
        </div>
    </a>
    <a (click)='getByType("3")'>
        <div class="hollywood">
            <div class=" image">
                <div class="image-hollywood"></div>
            </div>
            <div class="text">
                Голливудский макияж
            </div>
        </div>
    </a>
    <a (click)='getByType("4")'>
        <div class="smoky">
            <div class=" image">
                <div class="image-smoky"></div>
            </div>
            <div class="text">
                Вечерний макияж
            </div>
        </div>
    </a>
    <a (click)='getByType("5")'>
        <div class="lifting">
            <div class=" image">
                <div class="image-lifting"></div>
            </div>
            <div class="text">
                Возрастной макияж
            </div>
        </div>
    </a>
    <a (click)='getByType("6")'>
        <div class="fashion">
            <div class="image">
                <div class="image-fashion"></div>
            </div>
            <div class="text">
                Fashion-макияж
            </div>
        </div>
    </a>
    <div class="heart">
        <div class="lds-heart">
            <div></div>
        </div>
    </div>
</div>