<div class="example-container">
  <div class="photo-container">
    <div class="text-center">
      <img src="../assets/photo1.png" class="circle">
    </div>
  </div>
  <div class="insight-container">
    <div class="social-group row">

      <div (mouseover)="phoneEvent($event)" (mouseout)="phoneEventOut($event)" class="phone col-12 size">
        <a class="link-to-phone" href="tel:+375292762060">
          <img *ngIf="!phone" width="13%" src="../assets/tel.png">
          <img *ngIf="phone" width="13%" src="../assets/tel1.png"> - +375292762060</a>
      </div>
    </div>
    <div class="social-group row">
      <div (click)="clickInst()" (mouseover)="instEvent($event)" (mouseout)="instEventOut($event)" class="inst col-12 size">
        <img *ngIf="!inst" width="13%" src="../assets/i.png">
        <img *ngIf="inst" width="13%" src="../assets/i1.png"> - stribuk_make_up
      </div>
    </div>
    <div class="social-group row">
      <div (click)="clickVk()" (mouseover)="vkEvent($event)" (mouseout)="vkEventOut($event)" class="vk col-12 size">
        <img *ngIf="!vk" width="13%" src="../assets/v.png">
        <img *ngIf="vk" width="13%" src="../assets/v1.png"> - stribuk_make_up
      </div>
    </div>
    <div class="social-group row">
      <div (click)="clickViber()" (mouseover)="viberEvent($event)" (mouseout)="viberEventOut($event)" class="viber col-12 size">
        <img *ngIf="!viber" width="13%" src="../assets/vi.png">
        <img *ngIf="viber" width="13%" src="../assets/vi1.png"> - +375292762060
      </div>
    </div>
    <div class="social-group row">
      <div (click)="clickTelegram()" (mouseover)="telegramEvent($event)" (mouseout)="telegramEventOut($event)" class="telegram col-12 size">
        <img *ngIf="!telegram" width="13%" src="../assets/t.png">
        <img *ngIf="telegram" width="13%" src="../assets/t1.png"> - +375292762060
      </div>
    </div>
  </div>
  <div class="footer-container">
  </div>
</div>



<div class="example-container-second">

</div>

<div class="example-container-third">
  <div class="row header-container-third">
    <!-- <img (mouseover)="leftEvent($event)" (mouseout)="leftEventOut($event)" *ngIf="!left" width="10%" class="heart-left" src="../assets/heart-left1.png">
    <img (mouseout)="leftEventOut($event)" (mouseover)="leftEvent($event)" *ngIf="left" width="10%" class="heart-left" src="../assets/heart-left.png">
    <img (mouseover)="rightEvent($event)" (mouseout)="rightEventOut($event)" *ngIf="!right" width="10%" class="heart-right" src="../assets/heart-right1.png">
    <img (mouseout)="rightEventOut($event)" (mouseover)="rightEvent($event)" *ngIf="right" width="10%" class="heart-right" src="../assets/heart-right.png"> -->
  </div>
  <div class="row">
    <div class="left-container"></div>
    <div *ngIf="!image" class=" size-block-for-photo row ">

      <div class="image-block" *ngFor="let image of images; let i = index">
        <img class="image-size" [src]="image.src" />
      </div>

    </div>
    <div class="right-container"></div>
    <div *ngIf="image" class="widget ">
    </div>
    <!-- <div class="row footer-container-third">
  </div> -->
  </div>