.container-for-social {
    position: fixed;
    width: 4%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.2);
}

.block-for-social {
    position: fixed;
    height: 32%;
    width: 4%;
    bottom: 0%;
}

.block-for-links {
    position: fixed;
    height: 32%;
    width: 4%;
    top: 3%;
}

.one-social {
    margin-left: 20%;
    border:  solid 1px rgba(2, 1, 1, 0);
    width: 60%;
    height: 20%;
}

.record {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/record-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/profile-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/gallery-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.vk {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/vk-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.instagram {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/instagram-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.viber {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/viber-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.phone {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/phone-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.telegram {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/telegram-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.profile:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/profile-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/gallery-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.record:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/record-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.vk:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/vk-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.instagram:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/instagram-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.viber:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/viber-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.phone:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/phone-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.telegram:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/telegram-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

*[tooltip]:hover:after {
    content: attr(message);
    background-color: rgba(38, 38, 38, 0.2);
    margin-left: 250%;
    height: 100%;
    width: 400%;
    padding: 5px;
    color: white;
    font-family: Poiret One;
    border-radius: 10px;
    font-size: 1.2vw;
}

.container-for-routing {
    position: fixed;
    margin-left: 85%;
    width: 15%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.2);
}

.history-gallery-container {
    width: 100%;
    height: 30%;
}

.about-me-container {
    border-left: 1px solid rgba(38, 38, 38, 0.39);
    border-right: 1px solid rgba(38, 38, 38, 0.39);
    margin: 5%;
    background-color: rgba(38, 38, 38, 0.2);
    font-family: Poiret One;
}


.image-profile-click {
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/profile-red.png");
}

.image-gallery-click {
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/gallery-red.png");
}

.image-record-click {
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/record-red.png");

}


.element {
    border: 1px solid rgba(106, 106, 106, 0.577);
    width: 70%;
    height: 40px;
    background-color: rgba(165, 163, 163, 0);
    border-radius: 5px;
    margin-top: initial;
    padding-left: 10px;
    padding-right: 10px;
}

.element:hover {
    border: 1px solid rgba(106, 106, 106, 0.577);
    width: 70%;
    height: 40px;
    background-color: rgba(165, 163, 163, 0);
    border-radius: 5px;
    margin-top: initial;
    padding-left: 10px;
    padding-right: 10px;
}

.margin {
    margin-top: 8%;
    margin-left: 4%;
    margin-right: 4%;
}

.btn-style {
    border: solid 1px rgba(106, 106, 106, 0);
    border: none;
    font-size: 1vw;
    font-family: Poiret One;
}

.btn-style:hover {
    
    font-size: 1vw;
    font-family: Poiret One;
    border: solid 1px rgba(106, 106, 106, 0.577);
}