<div appMouseWheel (mouseWheelUp)="mouseWheelUpFunc($event)" (mouseWheelDown)="mouseWheelDownFunc($event)" style="width: 100%; height: -webkit-fill-available;">
  <router-outlet></router-outlet>


  <div>
    <div class="container-for-social ">
      <div class="block-for-links">
        <div class="one-social">
          <a (click)="setType(1)" class="link-to-phone" routerLink="/profile" style="text-decoration: none;">
            <div [ngClass]="{'image-profile-click': type==1}" tooltip='tooltip' message="Профиль" class="profile"></div>
          </a>
        </div>
        <div class="one-social">
          <a (click)="setType(2)" class="link-to-phone" routerLink="/gallery" style="text-decoration: none;">
            <div [ngClass]="{'image-gallery-click': type==2}" tooltip='tooltip' message="Галерея" class="gallery"></div>
          </a>
        </div>
        <div class="one-social">
          <a (click)="setType(3)" data-toggle="modal" data-target="#exampleModal" class="link-to-phone" style="text-decoration: none;">
            <div [ngClass]="{'image-record-click': type==3}" tooltip='tooltip' message="Заявка" class="record"></div>
          </a>
        </div>
      </div>
      <div class="block-for-social">
        <div class="one-social">
          <a class="link-to-phone" href="tel:+375292762060" style="text-decoration: none;">
            <div tooltip='tooltip' message="+375(29)2762060" class="phone"></div>
          </a>
        </div>
        <div class="one-social">
          <div tooltip='tooltip' (click)="clickInst()" message="stribuk_make_up" class="instagram"></div>
        </div>
        <div class="one-social">
          <div tooltip='tooltip' (click)="clickVk()" message="stribuk_make_up" class="vk"></div>
        </div>

        <div class="one-social">
          <div tooltip='tooltip' (click)="clickViber()" message="+375(29)2762060" class="viber"></div>
        </div>
        <div class="one-social">
          <div tooltip='tooltip' (click)="clickTelegram()" message="+375(29)2762060" class="telegram"></div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <button id="modalTrigger" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->

<div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header  text-center">
          <div class="text-center">Отправить заявку</div>
          <h5 class="modal-title"></h5>
         
        </div> -->
      <div class="modal-body">
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <div class="text-center">

          <div class="margin">
            Для записи оставьте свой номер телефона и я перезвоню вам в ближайшее время:
          </div>
          <div class="margin">
            <input type="text" class="margin-block element"  [(ngModel)]="phoneNumber"  #phoneNumberValid="ngModel" required pattern="(\+375|80)(29|25|44|33)(\d{3})(\d{2})(\d{2})">
            <div [hidden]="phoneNumberValid.valid || phoneNumberValid.untouched" class="valid">
              Проверьте введенный номер
          </div>
          </div>
          <div class="margin">
            <button [hidden]="phoneNumberValid.invalid" type="button" class="btn btn-style" (click)="sendMessageToVk()">Отправить</button>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary">Отправить</button>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <?

$client_id = '6408401';
$scope = 'offline,messages'
?> -->

<a href="https://oauth.vk.com/authorize?client_id=<?='6408401';?>&display=page&redirect_uri=https://oauth.vk.com/blank.html&scope=<?='offline,messages';?>&response_type=token&v=5.37">Push the button</a>