.container-for-social {
    position: fixed;
    width: 4%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.2);
}

.block-for-social {
    position: fixed;
    height: 32%;
    width: 4%;
    bottom: 0%;
    
}

.block-for-links {
    position: fixed;
    height: 32%;
    width: 4%;
    top: 3%;
}

.one-social {
    margin-left: 20%;
    border:  solid 1px rgba(2, 1, 1, 0);
    width: 60%;
    height: 20%;
}

.profile {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/prof.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/gal1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.vk {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/26.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.instagram {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/12.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.viber {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/23.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.phone {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/25.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.telegram {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/24.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.profile:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/prof1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


.vk:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/vkk1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.instagram:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/i1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.viber:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/vi1.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 



.phone:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/phone1.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

.telegram:hover {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url("../assets/telepho1.png");
    background-repeat: no-repeat;
    background-size: 100%;
} 

*[tooltip]:hover:after {
    content: attr(message);
    background-color: rgba(38, 38, 38, 0.2);
    margin-left: 250%;
    height: 100%;
    width: 400%;
    padding: 5px;
    color: white;
    font-family: Poiret One;
    border-radius: 10px;
    font-size: 100%;
}

.container-for-routing {
    position: fixed;
    margin-left: 85%;
    width: 15%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.2);
}





.history-gallery-container {
    width: 100%;
    height: 30%;
}

.about-me-container {
    border-left: 1px solid rgba(38, 38, 38, 0.39);
    border-right: 1px solid rgba(38, 38, 38, 0.39);
    margin: 5%;
    background-color: rgba(38, 38, 38, 0.2);
    font-family: Poiret One;
}



/* .example-container {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid rgb(230,230,230);
    width: 15%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.example-container-second {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 82%;
    border-radius: 5px;
    border: 1px solid rgb(230,230,230);
    width: 15%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(230, 230, 230, 0.542);
}

.header-container-third {
    background-color: rgba(230, 230, 230, 0.542);
    height: 15%;
    width: 100%;
    overflow: auto;
    margin: 0px;
}

.left-container {
    width: 3%;
    height: 100%;
    border: 1px solid rgb(230,230,230);
}

.right-container {
    width: 3%;
    border: 1px solid rgb(230,230,230);
}


.example-container-third {
    margin-top: 20%;
    margin-right: 21%;
    margin-left: 21%;
    border-radius: 5px;
    position: absolute;
    height: 88%;
    border: 1px solid rgb(230,230,230);
    width: 58%;
    margin-bottom: 3%;
  }
.link-to-phone {
    text-decoration: none;
    color: rgb(99, 99, 99);
}
.link-to-phone:hover {
    text-decoration: none;
    color: rgb(155, 0, 0);
}
.insight-container {
    height: 50%;
    width: 100%;
    background-color: rgba(250, 252, 251, 0.337);
    padding-top: 15%;
    padding-bottom: 15%;
    overflow: auto;
    border-top: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
}
::-webkit-scrollbar{
    width: 5%;
  }
  
  ::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(170, 170, 170, 0.788);
  }
  
  ::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
  }
  
  ::-webkit-scrollbar-track{
    border-width:0;
  }
  
  ::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
  }

.photo-container {
    text-align: center;
    background-color: rgba(230, 230, 230, 0.542);
    height: 40%;
    width: 100%;
    overflow: auto;

}
.footer-container {
    background-color: rgba(230, 230, 230, 0.542);
    height: 10%;
    width: 100%;
    overflow: auto;
}
.circle {
    text-align: center;
    margin-top: 15%;
	width: 70%;
    height: 70%;
    border-radius: 5px;
    -webkit-border-radius: 30em;
	-moz-border-radius: 30em;
}
.social-group {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 5% !important;
    vertical-align: middle;
    padding-top: 5%;
}
.vk {
    width: 100%;
    height: 20%;
    color: rgb(99, 99, 99);
    font-family: Caveat;
    font-size: 23px;
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.vk:hover {
    width: 100%;
    height: 20%;
    cursor: pointer;
    font-family: Caveat;
    font-size: 23px;
    color: rgb(155, 0, 0);
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.skype {
    width: 100%;
    height: 20%;
    color: rgb(99, 99, 99);
    font-family: Caveat;
    font-size: 23px;
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.skype:hover {
    width: 100%;
    height: 20%;
    cursor: pointer;
    font-family: Caveat;
    font-size: 23px;
    color: rgb(155, 0, 0);
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.inst {
    width: 100%;
    height: 20%;
    color: rgb(99, 99, 99);
    font-family: Caveat;
    font-size: 23px;
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.inst:hover {
    width: 100%;
    height: 20%;
    cursor: pointer;
    font-family: Caveat;
    font-size: 23px;
    color: rgb(155, 0, 0);
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.viber {
    width: 100%;
    height: 20%;
    color: rgb(99, 99, 99);
    font-family: Caveat;
    font-size: 23px;
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.viber:hover {
    width: 100%;
    height: 20%;
    cursor: pointer;
    font-family: Caveat;
    font-size: 23px;
    color: rgb(155, 0, 0);
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.phone {
    width: 100%;
    height: 20%;
    color: rgb(99, 99, 99);
    font-family: Caveat;
    font-size: 23px;
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.phone:hover {
    width: 100%;
    height: 20%;
    cursor: pointer;
    font-family: Caveat;
    font-size: 23px;
    color: rgb(155, 0, 0);
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.telegram {
    width: 100%;
    height: 20%;
    color: rgb(99, 99, 99);
    font-family: Caveat;
    font-size: 23px;
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.telegram:hover {
    width: 100%;
    height: 20%;
    cursor: pointer;
    font-family: Caveat;
    font-size: 23px;
    color: rgb(155, 0, 0);
    padding-left: 3% !important;
    padding-right: 3% !important;
}

.size-block-for-photo {
    width: 100%;
    height: 66%;
    border-top: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
    background-color: rgba(250, 252, 251, 0.337);
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.image-block {
    overflow:hidden;
    height: 46%;
    width: 23%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    
    border-radius: 5px;
}




.image-block img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
    
.image-block img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.image-size {
    overflow:hidden;
    height: 100%;
}

.image-size:hover {
    height: 100%;
}

.heart-left {
    width: 3%;
    margin-left: 1%;
    margin-top: 3%;
}

.heart-right {
    position: absolute;
    margin-left: 92%;
    width: 3%;
    margin-top: 3%;
}

.plus {
    text-align: center;
    margin-left: 5%;
    margin-top: 10%;
    position: absolute;
    width: 3%;
}
 */
