<div class="upload">
    <div class="text-center">
        <h2>Добавление фотографии</h2>
    </div>
    <div class="text-center margin-block">
        <select [(ngModel)]="typeImage" class="element">
            <option [value]="null">
                Выбери тип
            </option>
            <option *ngFor="let type of types" [value]="type.id">
                {{type.name}}
            </option>
        </select>
    </div>
    <div class="text-center margin-block">
        <input type="file" ng2FileSelect [uploader]="uploader" class="btn element" accept="image/*;capture=camera">
    </div>
    <div class="text-center  margin-block">
        <button type="button" class="btn element upload-button" (click)="upload()">
            <span class="glyphicon glyphicon-upload "></span> Загрузить
        </button>
    </div>

    <div class="text-center  margin-block container-for-mini-photo">
        <cl-image class="mini-photo" width="200" height="200" crop="fill" gravity="center" [public-id]="imageId" [cloud-name]="uploader.cloudName"></cl-image>
    </div>
</div>