.upload {
    position: fixed;
    width: 70%;
    top: 5%;
    height: 90%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    overflow-y: auto;
    background-color: rgba(38, 38, 38, 0.2);
}

.margin-block {
    margin: 5%;
    margin-top: 2%;
}

.margin-top-block {
    margin-top: 2%;
}

.progress-bar-color {
    height: 1rem;
    color: #fff;
    background-color: #770000;
}

*{
    font-family: Poiret One;
    font-weight: bold;
}