.upload {
    position: fixed;
    width: 50%;
    top: 5%;
    height: 90%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    padding-bottom: 0%;
    overflow-y: auto;
    background-color: rgba(38, 38, 38, 0.2);
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
}


.margin-top-block {
    margin-top: 2%;
}

*{
    font-family: Poiret One;
    font-weight: bold;
    /* font-size: 1.2vw; */
}

.element {
    border: 1px solid rgba(106, 106, 106, 0.577);
    width: 40%;
    height: 40px;
    background-color: rgba(165, 163, 163, 0);
    border-radius: 5px;
}

.container-for-mini-photo {
    width: 20%;
    height: 20%;
}

.mini-photo {
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}


.upload-button {
    background-color: #77000062;
}

.upload-button:hover {
    background-color: #820000af;
}

.item_image {
    margin: 2%;
    width: 21%;
    height: auto;
    display: inline-block;
}

.cross {
    margin-top: 0.5%;
    margin-left: 14.5%;
    width: 2%; 
    height: 2%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    opacity: .5;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/cross-red.png");
    position: absolute;
    cursor: pointer;
}

input[type=file] {
    display: none;
}

.right-container {
    top: 50%;
    transform: translateY(-49%);
    position: absolute;
    right: 0.5%;
    width: 3%;
    height: 3%;
}

.arrow-position-right {
    width: 100%;
    height: 100%;
    margin-top: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/right.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
}

.arrow-position-right:hover {
    width: 100%;
    height: 100%;
    margin-top: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/right-red.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.4s; 
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
    cursor: pointer;
}

.left-container {
    top: 50%;
    transform: translateY(-49%);
    position: absolute;
    width: 3%;
    height: 3%;
}

.arrow-position-left {
    width: 100%;
    height: 100%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/left.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.arrow-position-left:hover {
    width: 100%;
    height: 100%;
    margin: 20%;
    background-image: url("http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/left-red.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 1;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.4s; 
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
    cursor: pointer;
}

.images-block {
    width: 100%;
    height: auto;
}

.button-block {
    width: 100%;
    height: auto;
    display: inline-block;
}

.left {
    cursor: pointer;
    background-color: #77000062;
    margin-right: 5%;
}

.right {
    cursor: pointer;
    background-color: #77000062;
    margin-left: 5%;
}

.password {
    position: fixed;
    width: 50%;
    top: 5%;
    height: 35%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    overflow-y: auto;
    background-color: rgba(38, 38, 38, 0.2);
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
}