<div  class="upload">
    <div class="text-center">
        <h2>Добавление фотографии</h2>
    </div>
    <div class="text-center margin-block">
        <input type="text" class="btn element" [(ngModel)]="key">
    </div>
    <div class="text-center margin-block">
        <select [(ngModel)]="typeImage" class="element">
            <option [value]="null">
                Выбери тип
            </option>
            <option *ngFor="let type of types" [value]="type.id">
                {{type.name}}
            </option>
        </select>
    </div>
    <div class="text-center margin-block">
        <input type="file" ng2FileSelect [uploader]="uploader" class="btn element" accept="image/*;capture=camera">
    </div>
    <div class="text-center  margin-block">
        <button type="button" class="btn element upload-button" (click)="upload()">
            <span class="glyphicon glyphicon-upload "></span> Загрузить
        </button>
    </div>
    <div *ngIf="images">
    <div *ngFor="let image of images.products;let i = index" class="item_image">
        <div class="cross" (click)="delete(image._id, image.imageId)"></div>
        <img width="100%" height="100%" src="http://res.cloudinary.com/dhvqokydk/image/upload/c_fill,g_auto,w_200,h_200/{{image.imageId}}"><
    </div>
    </div>
</div>
<!-- 
<div *ngIf="!password" class="upload">
    <div class="text-center">
        <h2>Введите пароль</h2>
    </div>
    <div class="text-center margin-block">
        <input type="text" class="btn element" [(ngModel)]="key">
    </div>
   
    <div class="text-center  margin-block">
        <button type="button" class="btn element upload-button" (click)="upload()">
            <span class="glyphicon glyphicon-upload "></span> Загрузить
        </button>
    </div>
</div> -->