<div>
  <div class="container-for-content">
      <div class="header-block text-center"> 
          Д и а н а  <span style='margin-left: 2%'></span>   С т р и б у к
        </div>
        <div class="about-container text-center">
          Здравствуйте, милые девушки! Меня зовут Диана и я профессиональный визажист. 

          Мечтаете быть Неотразимой на вашем празднике? Желаете безупречный макияж, который будет держаться до самого конца? Я с удовольствием помогу вам это реализовать! Учту все пожелания и помогу подчеркнуть вашу природную красоту. Сделаю для Вас образ на свадьбу , корпоратив, фотосессию, день рождения. Все мои работы можете просмотреть в галерее или в инстаграм.
        </div>
  </div>

  <div class="container-for-photo text-center">
    <div class="photo-container">
      <img src="http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/photo1.png" class="photo">
    </div>
  </div>
</div>
