.container-for-photo {
    margin-top: 5%;
    position: fixed;
    margin-left: 45%;
    width: 14%;
    height: 14%;
}

.photo {
    text-align: center;
	width: 100%;
    height: 100%;
    border-radius: 50%;
}


.photo-container {
    width: 100%;
}

.container-for-content {
    border-radius: 5px;
    margin-top: 15%;
    position: fixed;
    margin-left: 19%;
    background-color: rgba(38, 38, 38, 0.2);
    width: 66%;
    height: 60%;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
}

.header-block {
    font-family: Poiret One;
    font-weight: bold;
    margin-top: 7%;
    color: rgba(90, 90, 90, 0.98);
    font-size: 2vw;
    animation-name: myopacity;
    -webkit-animation-name: myopacity; 
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-out; 
    -webkit-animation-timing-function: ease-out; 
}

.line-block {
    height: 63%;
    margin-top: 3%;
    width: 0.1%;
    border-left: 1px solid rgba(90, 90, 90, 0.98);
    display: -webkit-inline-box;
}

.order-container {
    font-family: Poiret One;
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    height: 63%;
    margin-top: 5%;
    width: 30%;
    display: -webkit-inline-box;
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 10%;
}

.about-container {
    font-family: Poiret One;
    font-weight: bold;
    font-size: 1.4vw;
    color: rgba(90, 90, 90, 0.98);
    margin-top: 4%;
    width: 40%;
    height: 30%;
    display: -webkit-inline-box;
    vertical-align: bottom;
    margin-left: 5%;
    margin-right: 5%;
    
}

.about-container1 {
    font-family: Poiret One;
    font-weight: bold;
    font-size: 1.4vw;
    color: rgba(90, 90, 90, 0.98);
    margin-top: 4%;
    width: 40%;
    height: 30%;
    display: -webkit-inline-box;
    vertical-align: bottom;
    margin-left: 4%;
    margin-right: 5%;
     
}

.about-container2 {
    text-align: -webkit-center !important;
    font-family: Poiret One;
    font-weight: bold;
    font-size: 1.5vw;
    color: rgba(90, 90, 90, 0.98);
    margin-top: 8%;
    width: 100%;
    height: auto;
    display: -webkit-inline-box;
    vertical-align: bottom;
    
}

.element {
    border: 1px solid rgba(106, 106, 106, 0.577);
    width: 70%;
    height: 40px;
    background-color: rgba(165, 163, 163, 0);
    border-radius: 5px;
    margin-top: initial;
}

.heart {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translateY(-91%);
}

.lds-heart1 {
    display: inline-block;
    position: absolute;
    width: 48;
    height: 48;
    transform: rotate(45deg);
    transform-origin: 16px 16px;
}
.lds-heart1 div {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(56, 56, 56, 0.672);
    animation: lds-heart1 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart1 div:after,
.lds-heart1 div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(28, 28, 28, 0.967);
}
.lds-heart1 div:before {
    left: -12px;
    border-radius: 50% 0 0 50%;
}
.lds-heart1 div:after {
    top: -12px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart1 {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}