<div>
  <div class="container-for-content">
    <div class="header-block text-center">
      Д и а н а
      <span style='margin-left: 2%'></span> С т р и б у к
    </div>
    <!-- <div class="about-container3 text-center">
        <span class="" style="font-weight: normal; color: black;"></span>
      </div> -->
    <div class="about-container text-center">
      <span class="" style="font-weight: normal; color: black;">
          Здравствуйте, милые девушки!<br> Я профессиональный визажист с сертификатом международного образца. Перед Вами моё портфолио, где собрана вся коллекция
        моих работ. Также Вы можете отправить мне заявку и я сразу же Вам перезвоню.</span>
    </div>
    <div class="about-container1 text-center">
      <span class="" style="font-weight: normal; color: black;">Я с удовольствием сделаю для Вас образ на любое мероприятие: свадьбу, корпоратив, фотосессию, день рождения, выпускной.
        Учту все Ваши пожелания и помогу подчеркнуть Вашу природную красоту. Обещаю, Вы будете в восторге!</span>
    </div>
    <div class="about-container2 text-center">
      <span class="" style="font-weight: normal; color: black;">Благодарю, что выбираете именно меня!</span>

      <div class="heart">
        <div class="lds-heart1">
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-for-photo text-center">
    <div class="photo-container">
      <img src="http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/photo1.png" class="photo">
    </div>
  </div>
</div>