<div>
  <div class="container-for-content">
      <div class="header-block text-center"> 
          Д и а н а  <span style='margin-left: 2%'></span>   С т р и б у к
        </div>
        <div class="line-block text-center">

        </div>
  </div>

  <div class="container-for-photo text-center">
    <div class="photo-container">
      <img src="http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/photo1.png" class="photo">
    </div>
  </div>
</div>


<!-- 
<div class="hidden-sm-up">
  <div class="container-for-content-mobile">

  </div>

  <div class="container-for-photo-mobile">
    <div class="photo-container-mobile">
      <img src="http://res.cloudinary.com/dhvqokydk/image/upload/v1519327037/photo1.png" class="photo-mobile">
    </div>
  </div>
</div> -->