.lds-heart {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  margin-left: -32px;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
  }
  .lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: rgba(148, 0, 0, 0.885);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: rgb(131, 0, 0);
  }
  .lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
  0% {
      transform: scale(0.95);
  }
  5% {
      transform: scale(1.1);
  }
  39% {
      transform: scale(0.85);
  }
  45% {
      transform: scale(1);
  }
  60% {
      transform: scale(0.95);
  }
  100% {
      transform: scale(0.9);
  }
  }
  
  html {
  width: 100%;
  height: auto;
  min-height: 1000px;
  background-image: url("./assets/b2.jpg");
  background-repeat: repeat;
  /* // background: linear-gradient(to right,  rgb(182,183,185)0%,  rgb(221,222,224) 20%); */
  }